@import "../../assets/plugins/hover";

.gallery-item {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.gallery-item > a {
	@include prefixed(transition, all 0.5s ease);

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	visibility: hidden;
	opacity: 0;
}

// Follow the hover state of the gallery item parent
.gallery-item:hover > a {
	visibility: visible;
	opacity: 1;
}
