@import "bourbon";
@import '../../assets/plugins/hover';

@include keyframes(homepage-leaving-animation) {
	10% {
		opacity: 1;
		bottom: 0;
	}

	30% {
		opacity: 0;
		bottom: 10%;
	}

	100% {
		opacity: 0;
	}
}

.homepage {
	@include position(relative, null null null null);
	@include size(100%);
}

.homepage-leaving {
	@include prefixed(animation, homepage-leaving-animation 1s linear forwards);
}

.select-box-wrapper {
	@include position(relative, null null null null);
	@include size(100%, 20%);

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.load-more-btn-wrapper {
	@include margin(0);
}

.gallery-wrapper {
	@include position(relative, 0 0 0 0);
	@include size(100%, 80%);

	display: inline-flex;
	flex-flow: row-reverse wrap-reverse;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
}

.gallery-wrapper > div:nth-child(1) > img {
	max-height: 280px !important;
	max-width: 280px !important;
}

.gallery-wrapper > div:nth-child(2n) > img {
	max-height: 150px;
}

.gallery-wrapper > div:nth-child(2n + 1) > img {
	max-width: 190px;
}

.gallery-wrapper > div:nth-child(3n-2) > img {
	max-height: 90px;
}
